
.table-container {
  margin: 20px 20px 20px 20px;
}

th {
  font-size: 13px !important;
}

.bt-ad {
  margin-bottom: 20px;
}

.bt-up {
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: whitesmoke !important;
}

.container {
  margin: 0 auto;
  width: 400px;
  height: 850px;
  background-image: url("photo_2023-02-17_13-25-12.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.container__main {
  margin: 0 auto;
  padding: 30px;
  width: 345px;
  height: 800px;
  position: absolute;
}

header {
  background-color: blue;
  height: 100px;
  width: 100%;
  border-radius: 35px 35px 0 0;
  position: relative;
  right: 3px;
}

.header__block {
  background-color: black;
  height: 20px;
  width: 150px;
  margin: 0 95px 0 95px;
  border-radius: 0 0 35px 35px;
  position: fixed important;
}



.main {
  height: 560px;
  padding: 15px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  //padding-top: 5px;
  font-size: 26px;
  text-decoration: double;

}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.icons {
  display: flex;
  gap: 250px;
  margin: 0;
  padding: 5px;

}

.signal,
.batary {
  width: 40px;
  height: 30px;
}

hr {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  height: 2px;
  width: 100px;
  /* margin: 3px 95px 30px 95px; */
}

.arrow-left-3,
.arrow-right-3 {
  margin: 20px 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.arrow-left-3 path,
.arrow-right-3 path {
  fill: #ebedef;
  transition: fill 0.5s ease-out;
}

.arrow-left-3 {
  transform: rotate(180deg);
}

.arrow-left-3:hover path,
.arrow-right-3:hover path {
  fill: #000;
}
