<div class="container">
  <div class="container__main">
    <header>
      <div class="header__block"></div>
      <div class="icons">
        <span>
          <mat-icon svgIcon="battery-60"></mat-icon>
        </span>
      </div>
      <span>WTIF</span>
    </header>
    <div class="table-container">
      <button class="bt-ad" color="warn" mat-raised-button (click)="deleteAllMessages()">
        Delete all
      </button>
      <button class="bt-up" mat-raised-button (click)="getAllMessages()">
        <span>
          <mat-icon svgIcon="update-icon"></mat-icon>
        </span>
      </button>
    </div>
    <div *ngFor="let element of messages">
      <div class="table-container">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>{{element.sender}}</mat-card-subtitle>
            <mat-card-title>Order status changed</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{element.messageText}}</p>
            <mat-divider></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
