@use "@angular/material" as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
    (
      color: (
        primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn,
      ),
    )
);

@include mat.all-component-themes($my-app-theme);



//html,
//body {
//  height: 100%;
//}

body {
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background-image: url("../src/assets/icons/photo_2023-02-17_13-25-12.jpg") !important;
  //background-size: 390px 844px !important;
  //background-repeat: no-repeat;
  //width: 100% !important;
  //z-index: 100 !important;
}

