@import "palette";

$font-family: 'SF UI Display', 'Helvetica Neue', sans-serif;

$app-width-desktop: 1280px;

$micro-grid: 4px;
$gutter: 32px;
$grid: 48px;
$padding: $gutter/2;
$padding-app: $gutter/2;
$spacer: 40px;

$icon-size-small: 16px;
$icon-size-medium: 24px;

$color-accent: $color-blue-70;
$color-red: $color-red-60;
$color-green: $color-green-60;

$color-white: #FFF;
$color-black: $color-grey-cool-100;
$color-black-txt: $color-grey-cool-90;
$color-dimmed-txt: $color-grey-cool-60;

$color-main-bg: $color-white;
$color-accent-bg: $color-blue-10;

$color-orange-bg: #FFEBD9; // CUSTOM: orange-10 / orange-20 — too light/dark
$color-orange-txt: $color-orange-50;

$color-red-bg: #FBE8E9; // CUSTOM: red-10 / red-20 — too light/dark
$color-red-txt: $color-red-60;
