.tg-app-header {
  display: flex;
  gap: $padding;

  .mat-divider-vertical {
    height: 32px;
    border-color: transparentize($color-white, 0.75);
  }

  .mat-ink-bar {
    height: 4px;
    opacity: 0.5;
  }
}

.tg-app-header-spacer {
  flex: 1 1 auto;
}

.tg-page-header-tags {
}
