.tg-sectionchart {
}

.tg-sectionchart-bar {
  height: 16px;
  display: flex;
}

.tg-sectionchart-section {
  height: 100%;
}

.tg-sectionchart + .tg-legend {
  margin-top: $padding;
}

.tg-legend {
  display: flex;
  flex-direction: column;

  &._horiz {
    flex-direction: row;
    gap: $padding;
  }
}

.tg-legend-row {
  display: flex;
  width: 100%;

  .tg-legend-label {
    @include Txt-Body-1;
    flex: 1 1 auto;
    padding-top: 3px;
    padding-bottom: 5px;
  }
}

.tg-legend-item {
  display: flex;

  .tg-legend-label {
    @include Txt-Caption;
    flex: 1 1 auto;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.tg-legend-swatch {
  width: 12px;
  height: 12px;
  flex: 0 0 12px;
  margin-top: 6px;
  display: flex;

  &._line:after {
    content: '';
    display: block;
    width: calc(50% - 1px);
    height: 100%;
    border-right: 1px solid;
  }
}

.tg-legend-swatch-part {
  flex: 1 1 auto;
  height: 100%;
}

.tg-legend-swatch + .tg-legend-label {
  padding-left: $padding/2;
}

.tg-legend-value {
  @include Txt-Body-1;
  padding-top: 3px;
  padding-bottom: 5px;
  flex: 0 0 $grid;
  text-align: right;
}

.tg-barchart {

}

.tg-barchart-horiz {
  display: flex;

  .tg-barchart-bar {
    flex-direction: row;
    height: 16px;
    flex: 1 1 100%;
  }

  .tg-barchart-section {
    height: 100%;
  }

  & + .tg-legend {
    margin-top: $padding;
  }
}

.tg-barchart-labels {
  flex: 0 0 ($grid + $gutter);
  display: flex;
  flex-direction: column;
  gap: $padding;
  padding-top: ($micro-grid * 2);
}

.tg-barchart-label {
  @include Txt-Caption;
}

.tg-barchart-plot {
  display: flex;
  flex-direction: column;
  gap: $padding;
  flex: 1 1 auto;
  padding-top: ($micro-grid * 2);
  padding-bottom: ($micro-grid * 2);
  border-left: 1px solid $color-grey-cool-40;
}

.tg-barchart-bar {
  &._overlay {
    position: relative;
    .tg-barchart-section {
      position: absolute;
    }
  }
}

.tg-barchart-row {
}

.tg-barchart-section {
  &._line-right {
    border-right: 1px solid $color-black;
  }
}

.tg-barchart-bar-label {
  @include Txt-Caption;
  flex: 0 0 auto;
  margin-left: $padding/2;
}
