html,
body {
  height: 100%;
}

body {
  margin: auto;
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

[hidden] {
  display: none !important;
}

.tg-row {
  display: flex;
  flex-direction: row;

  &._gutter {
    gap: $gutter;
  }

  &._bottom {
    align-items: flex-end;
  }

  &._space-between {
    justify-content: space-between;
  }
}

.tg-column {
  display: flex;
  flex-direction: column;
}

.tg-sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.tg-nodisplay {
  display: none !important;
}

.tg-invisible {
  visibility: hidden;
}

.tg-nowrap {
  white-space: nowrap;
}

.tg-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[color="tg-error"],
.tg-error {
  color: $color-red-txt;
}

[color="tg-warning"],
.tg-warning {
  color: $color-orange-txt;
}

[color="dimmed"],
.tg-dimmed {
  color: $color-grey-cool-50;
}
