.tg-dialog {
  position: relative;
  padding: $padding;

  .mat-divider {
    margin: ($padding) (-$padding);
  }
}

.tg-dialog-header {
  position: relative;
}

.tg-dialog-title {
  @include Txt-Header-2;

  margin: 0 0 $padding 0 !important;
  padding-top: 4px; // Text compensation
  padding-bottom: 4px; // Text compensation
}

.tg-dialog-subtitle {
  @include Txt-Caption-1;

  padding-top: 6px; // Text compensation
  padding-bottom: 6px; // Text compensation
}

.tg-dialog-close-button {
  position: absolute !important;
  top: $padding;
  right: $padding;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}
