/* SELECT/AUTOCOMPLETE */

/* adjusting Select content to fit the max element */
.mat-select-panel,
.mat-autocomplete-panel {
  min-width: fit-content !important;
  max-width: fit-content !important;
  width: fit-content !important;
}

/* TOOLBAR */

.mat-toolbar {
  height: 48px;
}

.mat-tab-label,
.mat-tab-link {
  min-width: 80px !important;
  opacity: 1 !important;
}

/* FIELD */

.mat-form-field-infix {
  width: auto !important;
}

.mat-form-field[clear] {
  .mat-form-field-underline {
    display: none;
  }
}

.mat-form-field[minimal] {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  .mat-form-field-flex {
    padding-top: 0 !important;
    align-items: flex-start;
  }
  .mat-form-field-infix {
    border: none !important;
    padding-top: ($padding/2) !important;
    padding-bottom: ($padding/2) !important;
  }
  .mat-form-field-underline {
    display: none !important;
  }
  .mat-form-field-subscript-wrapper {
    display: none !important;
  }
  .mat-input-element {
    @include Txt-Body-1;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-top: 0 !important;
  }
}

.mat-form-field-appearance-fill {
  .mat-form-field-flex {
    border-radius: 0 !important;
    background-color: $color-grey-10;
    color: $color-black-txt;
  }

  &[color="accent"] {
    .mat-form-field-flex {
      background-color: $color-accent-bg !important;
      color: $color-accent !important;
    }
    .mat-icon {
      color: $color-accent !important;
    }
  }

  &[error] {
    .mat-form-field-flex {
      background-color: $color-red-bg !important;
      color: $color-red !important;
    }
    .mat-icon {
      color: $color-red !important;
    }
  }
}

mat-form-field {
  .mat-form-field-suffix mat-icon {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
  }
}

/* MENU */

.mat-menu-panel {
  .mat-menu-item {
    @include Txt-Caption-1;
    height: auto;
    padding: (2 * $micro-grid) $padding;
    position: relative;
    color: $color-black-txt;

    .mat-icon {
      width: 4 * $micro-grid;
      height: 4 * $micro-grid;
      margin-right: 2 * $micro-grid;
      color: inherit;
    }
  }
}

/* ICON */

mat-icon {
  svg {
    fill: currentColor;
  }
}

.mat-icon {
  &[size="small"] {
    width: $icon-size-small;
    height: $icon-size-small;
  }

  &[size="medium"] {
    width: $icon-size-medium;
    height: $icon-size-medium;
  }
}

/* DIALOG */

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 0 !important;
}

.mat-dialog-content {
  margin: 0 (-$padding) !important;
  padding: 0 $padding !important;
}

.mat-dialog-actions {
  min-height: 0 !important;
  margin: 0 !important;
  padding: ($padding * 3 / 2) 0 ($padding/2) 0 !important;
}

.mat-dialog-actions
.mat-button-base+.mat-button-base,
.mat-dialog-actions .mat-mdc-button-base+.mat-mdc-button-base {
  margin-left: $padding !important;
}

/* BUTTON */

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  border-radius: 0 !important;
  line-height: 40px !important;
}

.mat-flat-button {
  background-color: $color-grey-20;
  color: $color-grey-cool-80;
}

.mat-flat-button.mat-accent {
  background-color: $color-grey-60;
  color: $color-white;
}

.mat-icon-button {
  &._dimmed {
    color: $color-grey-cool-50;
  }

  &[color="secondary-flat"] {
    background-color: $color-grey-10;
    color: $color-grey-cool-80;
  }
}

.mat-button .mat-icon,
.mat-flat-button .mat-icon,
.mat-stroked-button .mat-icon,
.mat-raised-button .mat-icon,
.mat-icon-button .mat-icon {
  vertical-align: -6px !important;
}

.mat-form-field-suffix {
  .mat-icon-button {
    width: ($icon-size-medium + $padding) !important;
    height: ($icon-size-medium + $padding) !important;
  }
}

/* CHIPS */

.mat-chip-list {
  display: block !important;
}

.mat-chip-list-wrapper {
  margin: 0 !important;
  display: flex;
  gap: ($padding/2);

  .mat-standard-chip {
    margin: 0 !important;
  }
}

.mat-chip.mat-standard-chip {
  @include Txt-Caption-1;
  padding: 4px 16px;
  min-height: 24px;

  .mat-icon {
    position: relative;
    left: 8px;
  }
}
