.tg-quick-search {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  .mat-form-field-label-wrapper {
    display: none !important;
  }
  .mat-form-field-underline {
    bottom: 0 !important;
    display: none !important;
  }
  .mat-form-field-infix {
    border-top: none !important;
    padding: 0 !important;
  }
  .mat-form-field-flex {
    padding-top: 0 !important;
    align-items: center;
  }
  .mat-input-element {
    @include Txt-Body-1;
    padding-top: 11px !important;
    padding-bottom: 13px !important;
  }
  .mat-form-field-suffix {
  }
}

.tg-quick-search-input {

}

.tg-quick-search-icon {

}
