.tg-table {
  margin-left: -$padding;
  margin-right: -$padding;

  background-color: $color-grey-10;

  .mat-header-row {
    display: flex;
    box-sizing: border-box;
    background-color: $color-grey-20;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 0;
    align-items: flex-end;
    border-bottom: none;

    &._darker {
      background-color: $color-grey-30;
    }
  }

  .mat-header-cell {
    @include Txt-Caption-2;

    color: $color-black-txt;
    font-weight: 600;
    padding-top: 4px + ($padding / 2); // Text compensation
    padding-bottom: 4px + ($padding / 2); // Text compensation
  }

  .mat-row {
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
    justify-content: flex-start;
    border-bottom: 1px solid $color-grey-cool-30;
    min-height: 0;

    &[clickable]:hover {
      background-color: $color-blue-10;
      cursor: pointer;
    }
  }

  .mat-cell {
    display: table-cell;

    @include Txt-Body-1;
    padding-top: 11px; // Text compensation
    padding-bottom: 13px; // Text compensation
  }

  .mat-cell,
  .mat-header-cell {
    align-items: flex-start;
    padding-left: $padding;
    padding-right: $padding;
    box-sizing: border-box;
  }

  .mat-cell:first-of-type,
  .mat-header-cell:first-of-type,
  .mat-footer-cell:first-of-type {
    padding-left: $padding;
  }

  .mat-cell:last-of-type,
  .mat-header-cell:last-of-type,
  .mat-footer-cell:last-of-type {
    padding-right: $padding;
  }

  .mat-header-cell[align="right"],
  .mat-cell[align="right"] {
    text-align: right;
    justify-content: flex-end;
  }

  .mat-divider {
    margin-left: -$padding;
    width: calc(100% + 2 * $padding);
    border-top-color: $color-grey-cool-20;
  }

  .mat-cell[no-padding],
  .mat-header-cell[no-padding] {
    padding: 0 !important;

    .mat-divider {
      margin-left: 0;
      width: 100%;
    }
  }
}

.tg-table._font-small {
  .mat-cell {
    @include Txt-Caption-2;
    padding-top: 4px; // Text compensation
    padding-bottom: 4px; // Text compensation
  }

  .mat-divider {
  }
}

.mat-row.tg-row-summary {
  background-color: $color-grey-20;
  border-bottom: 0;

  .mat-cell {
    font-weight: 600;
  }

  .mat-icon {
    opacity: 1;
    vertical-align: -6px;
    margin-right: $micro-grid;
  }
}


.tg-cell-header {
  font-weight: 700;
}

.tg-cell-footer {
  color: $color-grey-50;
}

.tg-cell-nodata {
  color: $color-grey-50;
}

.tg-cell-nodata {
  color: $color-grey-50;
}

.tg-cell-warning {
  background-color: $color-orange-bg;
  color: $color-orange-txt;
}

.tg-cell-error {
  background-color: $color-red-bg;
  color: $color-red-txt;
}

.tg-cell-blocked {
  background-color: $color-grey-20;
  color: $color-dimmed-txt;
}

.tg-cell-icon {
  &[size="small"] {
    vertical-align: -2px;
  }
}

.tg-cell-input {
  padding: 0 !important;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color-white;
    z-index: 2;
  }
}
