@mixin Txt-Body-1 {
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}

@mixin Txt-Caption-1 {
  font-size: 11.3px;
  line-height: 12px;
}

@mixin Txt-Caption-2 {
  font-size: 11.3px;
  line-height: 16px;
}

@mixin Txt-Header-1 {
  font-size: 34px;
  line-height: 32px;
  font-weight: 500;
}

@mixin Txt-Header-2 {
  font-size: 22.5px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 600;
}

@mixin Txt-Header-3 {
  @include Txt-Body-1;

  font-weight: bold;
}

@mixin Txt-Caption {
  font-size: 11.3px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 400;
}
