.mat-column-project {
  flex: 0 0 440px;
}

.mat-column-in_work,
.mat-column-pr,
.mat-column-rta,
.mat-column-csd {
  flex: 0 0 160px;
}

.mat-column-ppm {
  flex: 0 0 200px;
}

.t-warning-icon {
  margin-left: 4px;
  vertical-align: -2px;
}

.t-noclickable {
  cursor: text !important;
}
